@font-face {
  font-family: 'segoesc';
  src: url(../fonts/segoesc.woff) format('woff')
}

@font-face {
  font-family: 'SCDream';
  font-weight: 400;
  src: url(../fonts/SCDream4.woff) format('woff')
}

@font-face {
  font-family: 'SCDream';
  font-weight: 500;
  src: url(../fonts/SCDream5.woff) format('woff')
}

@font-face {
  font-family: 'SCDream';
  font-weight: 600;
  src: url(../fonts/SCDream6.woff) format('woff')
}

@font-face {
  font-family: 'SCDream';
  font-weight: 700;
  src: url(../fonts/SCDream7.woff) format('woff')
}


@font-face {
  font-family: 'Tvn';
  font-weight: 400;
  src: url(../fonts/tvn1.woff) format('woff')
}

@font-face {
  font-family: 'Tvn';
  font-weight: 500;
  src: url(../fonts/tvn2.woff) format('woff')
}

@font-face {
  font-family: 'Tvn';
  font-weight: 600;
  src: url(../fonts/tvn3.woff) format('woff')
}

